xml-resources/web-service-references/CentroSalud/wsdl/localhost_8080/centroSalud/CentroSalud.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://ServiciosWeb/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="CentroSalud" targetNamespace="http://ServiciosWeb/">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://ServiciosWeb/" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://ServiciosWeb/">
  <xs:element name="registro_CentroSalud" type="tns:registro_CentroSalud"/>
  <xs:element name="registro_CentroSaludResponse" type="tns:registro_CentroSaludResponse"/>
  <xs:complexType name="registro_CentroSalud">
    <xs:sequence>
      <xs:element minOccurs="0" name="nombre" type="xs:string"/>
      <xs:element minOccurs="0" name="direccion" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="registro_CentroSaludResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SQLException" type="tns:SQLException"/>
  <xs:complexType name="SQLException">
    <xs:sequence>
      <xs:element minOccurs="0" name="errorCode" type="xs:int"/>
      <xs:element minOccurs="0" name="sQLState" type="xs:string"/>
      <xs:element minOccurs="0" name="message" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="SQLException">
    <wsdl:part element="tns:SQLException" name="SQLException">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="registro_CentroSaludResponse">
    <wsdl:part element="tns:registro_CentroSaludResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="registro_CentroSalud">
    <wsdl:part element="tns:registro_CentroSalud" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="CentroSalud">
    <wsdl:operation name="registro_CentroSalud">
      <wsdl:input message="tns:registro_CentroSalud" name="registro_CentroSalud">
    </wsdl:input>
      <wsdl:output message="tns:registro_CentroSaludResponse" name="registro_CentroSaludResponse">
    </wsdl:output>
      <wsdl:fault message="tns:SQLException" name="SQLException">
    </wsdl:fault>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CentroSaludSoapBinding" type="tns:CentroSalud">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="registro_CentroSalud">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="registro_CentroSalud">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="registro_CentroSaludResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="SQLException">
        <soap:fault name="SQLException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CentroSalud">
    <wsdl:port binding="tns:CentroSaludSoapBinding" name="CentroSaludPort">
      <soap:address location="http://localhost:8080/centroSalud/CentroSalud"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>