xml-resources/web-service-references/Diagnostico/wsdl/localhost_8080/centroSalud/Diagnostico.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://ServiciosWeb/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="Diagnostico" targetNamespace="http://ServiciosWeb/">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://ServiciosWeb/" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://ServiciosWeb/">
  <xs:element name="registro_Diagnostico" type="tns:registro_Diagnostico"/>
  <xs:element name="registro_DiagnosticoResponse" type="tns:registro_DiagnosticoResponse"/>
  <xs:complexType name="registro_Diagnostico">
    <xs:sequence>
      <xs:element minOccurs="0" name="descripcion" type="xs:string"/>
      <xs:element name="idEnfermedad" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="registro_DiagnosticoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SQLException" type="tns:SQLException"/>
  <xs:complexType name="SQLException">
    <xs:sequence>
      <xs:element minOccurs="0" name="errorCode" type="xs:int"/>
      <xs:element minOccurs="0" name="sQLState" type="xs:string"/>
      <xs:element minOccurs="0" name="message" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="registro_Diagnostico">
    <wsdl:part element="tns:registro_Diagnostico" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="SQLException">
    <wsdl:part element="tns:SQLException" name="SQLException">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="registro_DiagnosticoResponse">
    <wsdl:part element="tns:registro_DiagnosticoResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="Diagnostico">
    <wsdl:operation name="registro_Diagnostico">
      <wsdl:input message="tns:registro_Diagnostico" name="registro_Diagnostico">
    </wsdl:input>
      <wsdl:output message="tns:registro_DiagnosticoResponse" name="registro_DiagnosticoResponse">
    </wsdl:output>
      <wsdl:fault message="tns:SQLException" name="SQLException">
    </wsdl:fault>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="DiagnosticoSoapBinding" type="tns:Diagnostico">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="registro_Diagnostico">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="registro_Diagnostico">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="registro_DiagnosticoResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="SQLException">
        <soap:fault name="SQLException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Diagnostico">
    <wsdl:port binding="tns:DiagnosticoSoapBinding" name="DiagnosticoPort">
      <soap:address location="http://localhost:8080/centroSalud/Diagnostico"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>